body {
    font-family: sans-serif;
    margin: 0px;
}

#header {
    align-self: flex-start;
    color:white;
    background-color:blue;
    padding-top: 10px;   
    padding-bottom: 10px;
    text-align: center;
    line-height: 5px;
}

#header > p {
    font-style: italic;
}

#quiz-section {
    background-color: rgb(193, 231, 255);
    padding: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
}

#quiz-section > img {
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: left;
}

#quiz-section > h2 {
    grid-column: 1;
    grid-row: 1
}

#quiz-section > form {
    grid-column: 1;
    grid-row:2;
}

body > div {
    padding-left: 2%;
}

.section-title {
    text-transform: uppercase;
}

.important {
    color: red;
    font-weight: bold;
}

#species-table {
    padding: 0px;
}

td {
    padding:5px;
}

#top-row > th {
    background-color: gray;
    color: white;
    text-align: left;
    padding: 5px;
}

#footer {
    background-color: lightgray;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}
